<div class="nav-bg bg-primary">
  <div class="container">
    <nav class="nav d-flex justify-content-sb">
      <h1 class="nav__logo d-flex align-items-c">
        <a href="../pages/index.html" class="align-self-c">眼鏡</a>
      </h1>
      <ul class="nav__menu d-flex align-items-c justify-content-sb">
        <li><a href="../pages/product-optical.html">系列鏡框</a></li>
        <li><a href="../pages/store.html">門市據點</a></li>
        <li><a href="../pages/blog.html">部落格</a></li>
        <li><a href="../pages/qa.html.html">常見問題</a></li>
      </ul>
    </nav>
  </div>
</div>