.nav {
  @include mobile-xs {
    flex-direction: column;
    padding: 16px 0 0 0;
  }
  &__logo a {
    @include h1-img;
  }
  &__menu {
    gap: 64px;
    font-size: $font-base * 1.25;
    a {
      display: block;
      padding: 25px 0;
      color: #fff;
      font-weight: 300;
      &:hover {
        color: darken(#fff, 10%);
      }
    }
    @include mobile {
      gap: 48px;
    }
    @include mobile-xs {
      gap: 0;
      font-size: $font-base;
      flex-wrap: wrap;
      margin: 15px -36px 0 -36px;
      li {
        width: 50%;
        border: 1px solid #fff;
        text-align: center;
      }
      a {
        padding: 12px 0;
      }
    }
  }
}
