.blog-nav-bg {
  background: #650300;
}
.blog-nav {
  &__menu {
    padding: 13px 0;
    gap: 48px;
    li > a {
      color: #fff;
      &:hover {
        color: darken(#fff, 10%);
      }
    }
  }
  span {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    &:hover {
      color: darken(#fff, 10%);
    }
  }
}
.blog {
  padding: 96px 0 80px 0;
  @include pad {
    padding: 80px 0;
  }
  @include mobile {
    padding: 40px 0 64px 0;
    .mb-8 {
      margin-bottom: 24px;
    }
  }
  > h3 {
    padding-left: 16px;
    border-left: 8px solid #9f1213;
  }
}
