.index-banner-bg {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");
  @include mobile {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true");
  }
}
.index-banner-text {
  padding: 296px 0;
  @include mobile-xs {
    padding: 144px 0;
  }
  > h2 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  > button {
    cursor: pointer;
    border: 0;
    transition: all ease 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
  a {
    display: block;
    color: #fff;
    font-size: $font-base * 1.25;
    padding: 6px 12px;
  }
}
.index-header {
  &__list {
    &__card {
      display: flex;
      flex-direction: column;
    }
    span {
      font-size: 83px;
    }
  }
  &__column {
    width: 25%;
    padding: 0 12px;
    @include pad {
      width: 50%;
    }
    @include mobile-xs {
      width: 100%;
    }
  }
}
.classic-product {
  &__column {
    width: 33.333%;
    padding: 0 12px;
    @include pad {
      width: 100%;
    }
  }
  @include pad {
    padding: 80px 0 56px 0;
    &__list {
      max-width: 360px;
      margin: 0 auto;
    }
    p {
      margin-bottom: 24px;
    }
  }
  @include mobile-xs {
    padding: 40px 0 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__list {
      max-width: 372px;
      margin: 0 -12px;
    }
    p {
      font-size: 48px;
    }
  }
}
.co-branded-product-bg {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");
  @include mobile {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true");
  }
  @include mobile-xs {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-sm.png?raw=true");
  }
}
.co-branded-product {
  &__list {
    @include mobile {
      flex-direction: column;
      gap: 24px;
    }
    p {
      background: #fff;
      padding: 8px 0;
    }
  }
  @include mobile-xs {
    padding: 40px 0;
    .mb-12 {
      margin-bottom: 24px;
    }
    p {
      font-size: 48px;
    }
  }
}
.customer-recommend {
  @include pad {
    padding-bottom: 66px;
  }
  @include mobile-xs {
    padding: 40px 0;
    .mb-12 {
      margin-bottom: 24px;
    }
  }
  &__column {
    width: 25%;
    padding: 0 12px;
    @include pad {
      width: 50%;
      margin-bottom: 24px;
    }
    @include mobile-xs {
      width: 100%;
    }
  }
  &__card {
    box-shadow: 0px 2px 6px #00000029;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    height: 100%;
  }
  &__text {
    padding: 16px 16px 48px 16px;
  }
  span {
    padding: 0 16px 16px 16px;
    display: block;
    margin-top: auto;
    font-size: $font-base * 0.875;
    color: #707070;
  }
}
.index-contact {
  max-width: 636px;
  margin: 0 auto;
  @include mobile {
    max-width: 576px;
  }
  @include mobile-xs {
    padding: 40px 0;
    .mb-12 {
      margin-bottom: 24px;
    }
  }
  &__text {
    font-size: $font-base * 1.25;
    @include mobile {
      font-size: $font-base;
    }
  }
  input {
    width: 100%;
    border: 1px solid #000000;
    padding: 6px 12px;
    background: transparent;
  }
  &__textarea {
    display: block;
    background: transparent;
    border: 1px solid #000000;
    resize: none;
    width: 100%;
    height: 136px;
    padding: 6px 12px;
  }
  .checkbox {
    padding-left: 24px;
    position: relative;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      border: 1px solid #000;
      top: 1px;
      left: 0px;
      width: 18px;
      height: 18px;
    }
    &::after {
      content: "";
      display: none;
      position: absolute;
      border-right: 2px solid #000;
      border-bottom: 2px solid #000;
      left: 6px;
      top: 2px;
      width: 7px;
      height: 15px;
      transform: rotate(40deg);
    }
  }
  input[type="checkbox"] {
    display: none;
    width: auto;
    &:checked + .checkbox::after {
      display: block;
    }
  }
  &__btn {
    margin: 48px auto 0 auto;
    max-width: 416px;
    @include mobile {
      max-width: 336px;
    }
    > button {
      width: 100%;
      padding: 16px 0;
      background: #aa0601;
      color: #fff;
      border: 0;
      cursor: pointer;
      &:hover {
        background: #650300;
      }
    }
  }
}
