<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>切版直播班第三、四週作業</title>
</head>

<body>
  <%- include("./layout/navbar") %>
    <header>
      <div class="index-banner-bg">
        <div class="container">
          <p>Promise-Desert 2020 早春系列</p>
          <h2>看得清，才能看得遠</h2>
          <button>立即購買</button>
        </div>
      </div>
      <div class="index-header-bg">
        <div class="container">
          <div class="index-header">
            <h3>用專業的心，做專業的事</h3>
            <ul class="index-header__list">
              <li>
                <span class="material-symbols-outlined">
                  paid
                </span>
                <h4>單一價格</h4>
                <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
              </li>
              <li>
                <span class="material-symbols-outlined">
                  schedule
                </span>
                <h4>20 分鐘即可取件</h4>
                <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
              </li>
              <li>
                <span class="material-symbols-outlined">
                  favorite
                </span>
                <h4>安心售後服務</h4>
                <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
              </li>
              <li>
                <span class="material-symbols-outlined">
                  voicemail
                </span>
                <h4>關於鏡片</h4>
                <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
        <h3>經典系列鏡框</h3>
        <ul class="classic-product">
          <li>
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-1.png?raw=true"
              alt="model">
            <h4>OPTICAL</h4>
          </li>
          <li>
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-2.png?raw=true"
              alt="model">
            <h4>SUNGLASSES</h4>
          </li>
          <li>
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section3-3.png?raw=true"
              alt="model">
            <h4>FUNCTIONAL</h4>
          </li>
        </ul>
      </div>
      <div class="co-branded-product-bg">
        <div class="container">
          <h3>聯名設計鏡框</h3>
          <ul class="co-branded-product">
            <li>
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-1.png?raw=true"
                alt="glasses">
              <h4>DOUBLE A+</h4>
            </li>
            <li>
              <img
                src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section4-2.png?raw=true"
                alt="glasses">
              <h4>YOUTH</h4>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <section class="container">
      <div class="customer-recommend">
        <h4>顧客推薦</h4>
        <ul class="customer-recommend__list">
          <li>
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-1.png?raw=true"
              alt="model">
            <h4>Jessy</h4>
            <p>眼鏡品質優良，下次還會想來這邊購買！</p>
            <span>2021/06/20</span>
          </li>
          <li>
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-2.png?raw=true"
              alt="model">
            <h4>凱倫</h4>
            <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
            <span>2021/04/18</span>
          </li>
          <li>
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-3.png?raw=true"
              alt="model">
            <h4>悠悠</h4>
            <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
            <span>2020/12/25</span>
          </li>
          <li>
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-section5-4.png?raw=true"
              alt="model">
            <h4>Kyuan</h4>
            <p>服務很好，品質沒有任何問題，非常喜歡。</p>
            <span>2020/10/31</span>
          </li>
        </ul>
      </div>
    </section>
    <div class="index-contact-bg">
      <div class="container">
        <h4>聯絡我們</h4>
        <p>我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
        <form action="index.html" class="index-contact-form">
          <label for="name">姓名</label>
          <input type="text" id="name" placeholder="陳小明">
          <label for="phone">聯絡電話</label>
          <input type="text" id="phone" placeholder="0912-345-678">
          <label for="mail">電子郵件</label>
          <input type="text" id="mail" placeholder="example@email.com">
          <label for="text">意見反應</label>
          <input type="text" id="text" placeholder="請輸入您的意見">
          <input type="checkbox">
          <p>我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</p>
          <input type="button" value="確認送出">
        </form>
      </div>
    </div>
    <%- include("./layout/footer") %>

      <script type="module" src="../main.js"></script>
</body>

</html>