<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>切版直播班第三、四週作業</title>
</head>

<body>
  <%- include("./layout/navbar") %>
    <header>
      <div class="product-tab-container">
        <ul class="product-tab d-flex text-c">
          <li class="font-weight-b">
            <a href="./product-optical.html">OPTICAL</a>
          </li>
          <li class="active font-weight-b">
            <a href="./product-sunglasses.html">SUNGLASSES</a>
          </li>
          <li class="font-weight-b">
            <a href="#">FUNCTIONAL</a>
          </li>
        </ul>
      </div>
      <ul class="product-bg d-flex">
        <li>
          <picture>
            <source
              srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-3.png?raw=true"
              media="(max-width: 768px)">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-3.png?raw=true"
              alt="glasses">
          </picture>
        </li>
        <li>
          <picture>
            <source
              srcset="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-sm-4.png?raw=true"
              media="(max-width: 768px)">
            <img
              src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-4.png?raw=true"
              alt="glasses">
          </picture>
        </li>
      </ul>
    </header>
    <div class="container">
      <main>
        <div class="product">
          <h3 class="text-c font-weight-b">2020 NEW COLLECTION</h3>
          <p class="text-c mb-8">賽璐珞鈦金屬混合鏡框</p>
          <div class="product__list card-row d-flex flex-wrap-w">
            <div class="product__column-sunglasses">
              <div class="product__card">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true"
                  alt="glasses">
                <div class="product__card-text d-flex justify-content-sb">
                  <h5 class="h5">BJ41600S</h5>
                  <span class="h5 text-secondary">NTD3,490</span>
                </div>
                <ul class="product__card-color-select d-flex">
                  <li class="color-select-first"></li>
                  <li class="color-select-second"></li>
                </ul>
              </div>
            </div>
            <div class="product__column-sunglasses">
              <div class="product__card">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-8.png?raw=true"
                  alt="glasses">
                <div class="product__card-text d-flex justify-content-sb">
                  <h5 class="h5">BJ41600S</h5>
                  <span class="h5 text-secondary">NTD3,490</span>
                </div>
                <ul class="product__card-color-select d-flex">
                  <li class="color-select-first"></li>
                  <li class="color-select-second"></li>
                </ul>
              </div>
            </div>
            <div class="product__column-sunglasses">
              <div class="product__card">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true"
                  alt="glasses">
                <div class="product__card-text d-flex justify-content-sb">
                  <h5 class="h5">BJ41600S</h5>
                  <span class="h5 text-secondary">NTD3,490</span>
                </div>
                <ul class="product__card-color-select d-flex">
                  <li class="color-select-first"></li>
                  <li class="color-select-second"></li>
                </ul>
              </div>
            </div>
            <div class="product__column-sunglasses">
              <div class="product__card">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true"
                  alt="glasses">
                <div class="product__card-text d-flex justify-content-sb">
                  <h5 class="h5">BJ41600S</h5>
                  <span class="h5 text-secondary">NTD3,490</span>
                </div>
                <ul class="product__card-color-select d-flex">
                  <li class="color-select-first"></li>
                  <li class="color-select-second"></li>
                </ul>
              </div>
            </div>
            <div class="product__column-sunglasses">
              <div class="product__card">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true"
                  alt="glasses">
                <div class="product__card-text d-flex justify-content-sb">
                  <h5 class="h5">BJ41600S</h5>
                  <span class="h5 text-secondary">NTD3,490</span>
                </div>
                <ul class="product__card-color-select d-flex">
                  <li class="color-select-first"></li>
                  <li class="color-select-second"></li>
                </ul>
              </div>
            </div>
            <div class="product__column-sunglasses">
              <div class="product__card">
                <img
                  src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-12.png?raw=true"
                  alt="glasses">
                <div class="product__card-text d-flex justify-content-sb">
                  <h5 class="h5">BJ41600S</h5>
                  <span class="h5 text-secondary">NTD3,490</span>
                </div>
                <ul class="product__card-color-select d-flex">
                  <li class="color-select-first"></li>
                  <li class="color-select-second"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </main>
      <ul class="pagination d-flex justify-content-c">
        <li><a href="#" class="back-next-padding">上一頁</a></li>
        <li><a href="#" class="page-padding">1</a></li>
        <li class="active"><a href="#" class="page-padding">2</a></li>
        <li><a href="#" class="page-padding">3</a></li>
        <li><a href="#" class="page-padding">4</a></li>
        <li><a href="#" class="page-padding">5</a></li>
        <li><a href="#" class="back-next-padding">下一頁</a></li>
      </ul>
    </div>



    <%- include("./layout/footer") %>

      <script type="module" src="../main.js"></script>
</body>

</html>