<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>切版直播班第三、四週作業</title>
</head>

<body>
  <%- include("./layout/navbar") %>
    <main>
      <div class="container">
        <div class="store">
          <h3 class="h3 font-weight-b">門市據點</h3>
          <form action="store.html" class="store__filter d-flex">
            <label for="store-filter" class="h5">選擇地區</label>
            <select id="store-filter">
              <option value="台北市">台北市</option>
              <option value="台中市">台中市</option>
              <option value="高雄市">高雄市</option>
            </select>
          </form>
          <div class="store__list d-flex flex-wrap-w card-row">
            <div class="store__column">
              <div class="store__card">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-1.png?raw=true"
                  alt="store">
                <h5>台北中山旗艦店</h5>
                <ul class="store__detail">
                  <li>
                    電話：(02)000-1234
                  </li>
                  <li>
                    營業時間：10:00-21:00
                  </li>
                  <li>
                    地址：台北市中山區南京東路25巷2-1號
                  </li>
                </ul>
                <button type="button">詳細資料</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>


    <%- include("./layout/footer") %>

      <script type="module" src="../main.js"></script>
</body>

</html>